USE [master]
GO
/****** Object:  Database [CourseDb]    Script Date: 4/17/2018 2:24:57 PM ******/
CREATE DATABASE [CourseDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoursesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CoursesDb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CoursesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CoursesDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CourseDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CourseDb]
GO
/****** Object:  Table [dbo].[Assesment]    Script Date: 4/17/2018 2:24:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Assesment](
	[assesid] [int] IDENTITY(1,1) NOT NULL,
	[assestype] [varchar](255) NOT NULL,
	[assesdate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/17/2018 2:24:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[studentid] [int] IDENTITY(1,1) NOT NULL,
	[fname] [varchar](255) NOT NULL,
	[lname] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[studentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentAssesment]    Script Date: 4/17/2018 2:24:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAssesment](
	[studentid] [int] NOT NULL,
	[assesid] [int] NOT NULL,
	[marks] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SA] PRIMARY KEY CLUSTERED 
(
	[studentid] ASC,
	[assesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[StudentAssesment]  WITH CHECK ADD  CONSTRAINT [FK_Asses] FOREIGN KEY([assesid])
REFERENCES [dbo].[Assesment] ([assesid])
GO
ALTER TABLE [dbo].[StudentAssesment] CHECK CONSTRAINT [FK_Asses]
GO
ALTER TABLE [dbo].[StudentAssesment]  WITH CHECK ADD  CONSTRAINT [FK_Student] FOREIGN KEY([studentid])
REFERENCES [dbo].[Student] ([studentid])
GO
ALTER TABLE [dbo].[StudentAssesment] CHECK CONSTRAINT [FK_Student]
GO
USE [master]
GO
